@use "../variables" as *;

.navigation {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 90vh;
  color: darkgrey; /* Dark grey text color */
  background-color: rgb(177, 209, 252); /* White background */
  background-color: white; /* White background */
  padding: 5px 10px;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  .item_list {
    font-size: 10px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    @media (height < 640px) {
      margin-top: 0;
      scale: 0.9;
    }
  }
  
  .item_list_2 {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    @media (height < 640px) {
      margin-top: 0;
      scale: 0.9;
      padding-top: 0px;
    }
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 15px;
    border-radius: 14px;
    margin-top: 1rem;
    margin-bottom: 10px;

    @media (height < 640px) {
      margin-top: 0;
      scale: 0.9;
      gap: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1.0px;
      width: 90%;
      background-color: rgba(37, 37, 37, 0.2); /* Dark grey line color */
      bottom: 0;
    }
  }

  .line {
    width: 80%;
    border: none;
    border-top: 1px solid #ccc; /* Change the color and style as needed */
    margin: 20px 0; /* Adjust the margin spacing as needed */
  }
}

.navigation header .profile {
  height: 120px;
  width: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
}

.profile_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Maintain aspect ratio without cropping */

  @media (height < 640px) {
    margin-top: 0;
    scale: 0.9;
  }
}

.navigation header span {
  font-size: 15px;
}



.navigation li.active {
  color: rgb(22, 109, 190);
  scale: 1.18;
  // box-shadow:
  //   0 2.3px 2.7px rgba(0, 0, 0, 0.084),
  //   0 6.3px 7.5px rgba(0, 0, 0, 0.12),
  //   0 15.1px 18.1px rgba(0, 0, 0, 0.156),
  //   0 50px 60px rgba(0, 0, 0, 0.24)
  // ;

  // background-color: #9db6c494;
  // background-color: #f4d07daa;
}
