<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296031466051-904qmvontf3g840mnend7n8hc41u45ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296031466051-904qmvontf3g840mnend7n8hc41u45ni</string>
	<key>API_KEY</key>
	<string>AIzaSyCxOfaUzbr-88IgQN5VvMfSWVON9nAKuVY</string>
	<key>GCM_SENDER_ID</key>
	<string>296031466051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.visitlog</string>
	<key>PROJECT_ID</key>
	<string>visitlog00</string>
	<key>STORAGE_BUCKET</key>
	<string>visitlog00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296031466051:ios:bbdaa8b47360a0fd76daf6</string>
</dict>
</plist>